.container {
  font-family: "Courier New", Courier, monospace;
  max-width: 1200px;
  box-sizing: none;
}

#current-location-button {
  border-radius: 3px;
  float: right;
}

#current-day {
  margin: right 10px;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
}

#forecast-day {
  list-style: none;
  text-align: center;
}

.weather-forecast-min {
  opacity: 75%;
}
